<% layout("./layouts/boilerplate") %>

<h2 class="text-center mt-4">❤️ My Wishlist</h2>

<div class="row mt-4">
  <% if (listings.length === 0) { %>
    <p class="text-center">No saved listings yet.</p>
  <% } %>

  <% listings.forEach(listing => { %>
    <div class="col-md-4 mb-3">
      <div class="card">
        <img src="<%= listing.image.url %>" class="card-img-top">
        <div class="card-body">
          <h5><%= listing.title %></h5>
          <p>₹ <%= listing.price.toLocaleString("en-IN") %></p>
          <a href="/listings/<%= listing._id %>" class="btn btn-sm btn-primary">
            View
          </a>
        </div>
      </div>
    </div>
  <% }) %>
</div>